<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZWZhdWx0TG9jYWxpemF0aW9uIjoiZW4iLCJkZXBlbmRlbmNpZXMiOltd
		LCJkaXNwbGF5TmFtZSI6IktlZXAgR29pbmcgd2l0aCBBcHBzIiwicGFja2Fn
		ZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltd
		LCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTYuMCJ9XSwicHJv
		ZHVjdHMiOlt7Im5hbWUiOiJLZWVwIEdvaW5nIHdpdGggQXBwcyIsInNldHRp
		bmdzIjpbeyJkaXNwbGF5VmVyc2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJz
		aW9uIjpbIjEiXX0seyJpT1NBcHBJbmZvIjpbeyJhcHBJY29uIjp7ImFzc2V0
		Ijp7Im5hbWUiOiJBcHBJY29uIn19LCJjYXBhYmlsaXRpZXMiOltdLCJzdXBw
		b3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0
		ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJs
		YW5kc2NhcGVSaWdodCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9y
		dHJhaXRVcHNpZGVEb3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGll
		cyI6WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRzIjpbIkFwcCJdLCJ0eXBlIjp7
		ImV4ZWN1dGFibGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJBcHAiOnsiZGVw
		ZW5kZW5jaWVzIjpbeyJieU5hbWUiOlsiR3VpZGUiLG51bGxdfV0sImV4Y2x1
		ZGUiOltdLCJuYW1lIjoiQXBwIiwicGFja2FnZUFjY2VzcyI6ZmFsc2UsInBh
		dGgiOiJBcHAiLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W10sInR5cGUi
		OiJleGVjdXRhYmxlIn0sIkd1aWRlIjp7ImRlcGVuZGVuY2llcyI6W10sImV4
		Y2x1ZGUiOltdLCJuYW1lIjoiR3VpZGUiLCJwYWNrYWdlQWNjZXNzIjpmYWxz
		ZSwicGF0aCI6Ikd1aWRlIiwicmVzb3VyY2VzIjpbeyJwYXRoIjoiR3VpZGUu
		dHV0b3JpYWwiLCJydWxlIjp7InByb2Nlc3MiOnt9fX0seyJwYXRoIjoiUmVz
		b3VyY2VzXC9BZGRBbmREZWxldGVDcmVhdHVyZXMucG5nIiwicnVsZSI6eyJw
		cm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291cmNlc1wvQWRkQ3JlYXR1cmVE
		ZXRhaWxWaWV3LnBuZyIsInJ1bGUiOnsicHJvY2VzcyI6e319fSx7InBhdGgi
		OiJSZXNvdXJjZXNcL0NyZWF0ZUFOZXdWaWV3VG9TaGFyZURhdGEucG5nIiwi
		cnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291cmNlc1wvSW50
		cm9kdWN0aW9uLnBuZyIsInJ1bGUiOnsicHJvY2VzcyI6e319fSx7InBhdGgi
		OiJSZXNvdXJjZXNcL01vZGlmeWluZ1N0YXRlLnBuZyIsInJ1bGUiOnsicHJv
		Y2VzcyI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNcL05hdmlnYXRpbmdJblN3
		aWZ0VUkucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJl
		c291cmNlc1wvUHJhY3RpY2VXaXRoU3dpZnRVSUJ1aWx0LWluVmlld3MucG5n
		IiwicnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291cmNlc1wv
		U2hhcmluZ0RhdGFCZXR3ZWVuVmlld3MucG5nIiwicnVsZSI6eyJwcm9jZXNz
		Ijp7fX19LHsicGF0aCI6IlJlc291cmNlc1wvU3dpZnRVSUJ1aWx0LWluVmll
		d3MucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291
		cmNlc1wvVXNpbmdBQ29uZGl0aW9uYWxNb2RpZmllci5wbmciLCJydWxlIjp7
		InByb2Nlc3MiOnt9fX0seyJwYXRoIjoiUmVzb3VyY2VzXC9DcmVhdGVZb3Vy
		T3duQ29weS5wbmciLCJydWxlIjp7InByb2Nlc3MiOnt9fX0seyJwYXRoIjoi
		UmVzb3VyY2VzXC9Eb2N1bWVudFRodW1ibmFpbC5wbmciLCJydWxlIjp7InBy
		b2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6W10sInR5cGUiOiJyZWd1bGFyIn19
		LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6WyJHdWlk
		ZSIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHAiLCJwYWNrYWdl
		QWNjZXNzIjpmYWxzZSwicGF0aCI6IkFwcCIsInJlc291cmNlcyI6W10sInNl
		dHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifSx7ImRlcGVuZGVuY2ll
		cyI6W10sImV4Y2x1ZGUiOltdLCJuYW1lIjoiR3VpZGUiLCJwYWNrYWdlQWNj
		ZXNzIjpmYWxzZSwicGF0aCI6Ikd1aWRlIiwicmVzb3VyY2VzIjpbeyJwYXRo
		IjoiR3VpZGUudHV0b3JpYWwiLCJydWxlIjp7InByb2Nlc3MiOnt9fX0seyJw
		YXRoIjoiUmVzb3VyY2VzXC9BZGRBbmREZWxldGVDcmVhdHVyZXMucG5nIiwi
		cnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291cmNlc1wvQWRk
		Q3JlYXR1cmVEZXRhaWxWaWV3LnBuZyIsInJ1bGUiOnsicHJvY2VzcyI6e319
		fSx7InBhdGgiOiJSZXNvdXJjZXNcL0NyZWF0ZUFOZXdWaWV3VG9TaGFyZURh
		dGEucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291
		cmNlc1wvSW50cm9kdWN0aW9uLnBuZyIsInJ1bGUiOnsicHJvY2VzcyI6e319
		fSx7InBhdGgiOiJSZXNvdXJjZXNcL01vZGlmeWluZ1N0YXRlLnBuZyIsInJ1
		bGUiOnsicHJvY2VzcyI6e319fSx7InBhdGgiOiJSZXNvdXJjZXNcL05hdmln
		YXRpbmdJblN3aWZ0VUkucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19LHsi
		cGF0aCI6IlJlc291cmNlc1wvUHJhY3RpY2VXaXRoU3dpZnRVSUJ1aWx0LWlu
		Vmlld3MucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJl
		c291cmNlc1wvU2hhcmluZ0RhdGFCZXR3ZWVuVmlld3MucG5nIiwicnVsZSI6
		eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291cmNlc1wvU3dpZnRVSUJ1
		aWx0LWluVmlld3MucG5nIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0
		aCI6IlJlc291cmNlc1wvVXNpbmdBQ29uZGl0aW9uYWxNb2RpZmllci5wbmci
		LCJydWxlIjp7InByb2Nlc3MiOnt9fX0seyJwYXRoIjoiUmVzb3VyY2VzXC9D
		cmVhdGVZb3VyT3duQ29weS5wbmciLCJydWxlIjp7InByb2Nlc3MiOnt9fX0s
		eyJwYXRoIjoiUmVzb3VyY2VzXC9Eb2N1bWVudFRodW1ibmFpbC5wbmciLCJy
		dWxlIjp7InByb2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6W10sInR5cGUiOiJy
		ZWd1bGFyIn1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjYuMCJ9
		fQ==
		</data>
		<key>manifestHash</key>
		<data>
		zEclR4HLiLX/6cKEOS7XCP6a7C8b+wm9C6yOHij+aL8=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.10.0-dev</string>
	</dict>
</dict>
</plist>
